.vertical-navbar {
  background-color: #343a40;
  width: 250px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
  color: white;
  font-family: 'Cardo';
}

.vertical-navbar-brand {
  text-align: center;
}

.vertical-navbar-brand a {
  color: #fff;
  text-decoration: none;
}

.vertical-navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-button {
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #3e9bc6;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Cardo";
}

button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Cardo";
}


.logo-text {
  display: flex;
  position: absolute;
  height: 200px;
  width: auto;
  padding: 30px;
  font-size: 1.5em;
  font-family: "Cardo";
  font-weight: 900;
  color: rgb(240, 246, 247);
}

/* animation */

@keyframes bounce-letter {
  0% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-12px);
  }
  
  75% {
    transform: translateY(1px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

/* Divs for each letter linked up to animation above */

.anim-letter-1 { 
  animation: bounce-letter 0.8s ease 1s 1;
}

.anim-letter-2 { 
  animation: bounce-letter 0.8s ease 1.1s 1;
}

.anim-letter-3 { 
  animation: bounce-letter 0.8s ease 1.2s 1;
}

.anim-letter-4 { 
  animation: bounce-letter 0.8s ease 1.3s 1;
}

.anim-letter-5 { 
  animation: bounce-letter 0.8s ease 1.4s 1;
}

.anim-letter-6 { 
  animation: bounce-letter 0.8s ease 1.5s 1;
}

.anim-letter-7 { 
  animation: bounce-letter 0.8s ease 1.6s 1;
}

.anim-letter-7 { 
  animation: bounce-letter 0.8s ease 1.7s 1;
}

.anim-letter-8 { 
  animation: bounce-letter 0.8s ease 1.8s 1;
}

.anim-letter-9 { 
  animation: bounce-letter 0.8s ease 1.9s 1;
}

.anim-letter-10 { 
  animation: bounce-letter 0.8s ease 2s 1;
}

.anim-letter-11 { 
  animation: bounce-letter 0.8s ease 2.1s 1;
}

.anim-letter-12 { 
  animation: bounce-letter 0.8s ease 2.2s 1;
}

.anim-letter-13 { 
  animation: bounce-letter 0.8s ease 2.3s 1;
}

.anim-letter-14 { 
  animation: bounce-letter 0.8s ease 2.4s 1;
}

